{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}groucho/css/groucho.css">
    <script>
        var groucho = {
            admin: {
                sourceSummaryUrl: '{% url 'groucho-source-history' %}',
                sourceSummaryIpCounts: [
                    {% for source in summary|slice:":5" %}
                        {{source.ip__count}},
                    {% endfor %}
                ],
                sourceSummaryIps: [
                    {% for source in summary|slice:":5" %}
                        '{{source.ip}}',
                    {% endfor %}
                ]
            }
        };
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}groucho/js/groucho.min.js"></script>
{% endblock extrahead %}

{% block content_title %}
    <h1>Source Summary</h1>
{% endblock content_title %}

{% block result_list %}
    <div class="source-summary-page">
        <div class="results_summary">
            <div class="results_chart">
                <canvas id="summary_doughnut" height="200"></canvas>
            </div>
            <div class="results">
                <table id="result_list">
                    <thead>
                        <tr>
                            <th>
                                <div class="text">
                                    <a href="#">Source IP</a>
                                </div>
                            </th>
                            <th>
                                <div class="text">
                                    <a href="#">Requests</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for source in summary %}
                            <tr>
                                <td><a class="source_ip" href="javascript:void(0)" data-ip="{{source.ip}}" data-index="{{forloop.counter0}}">{{source.ip}}</a></td>
                                <td>{{source.ip__count}}</td>
                            </tr>
                        {% endfor %}
                        <tr class="total-row">
                            <td><a class="total_ip" href="javascript:void(0)">Total</a></td>
                            <td>{{summary_total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="historical_chart">
            <canvas id="source_history" width="800"></canvas>
        </div>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}