<!DOCTYPE html>
<html>
    <head>
        <title>Groucho Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{STATIC_URL}}groucho/css/groucho.css">
    </head>
    <body>
        <div class="content">
            <div class="product">
                <img src="{{STATIC_URL}}groucho/img/logo.png"/>
                <div class="title">Enterprise Portal</div>
            </div>
            <div class="login">
                <form action="{% url 'groucho-login' %}" method="post">
                    {% csrf_token %}
                
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.username.errors }}
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        <div>{{ form.username }}</div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.password.errors }}
                        <label for="{{ form.message.id_for_label }}">Password</label>
                        <div>{{ form.password }}</div>
                    </div>

                    <input class="login-button button" type="submit" value="Login"/>
                </form>
            </div>
        </div>
    </body>
</html>