$white-color: #fff !default;
$black-color: #000 !default;
$error-color: #ff4545 !default;

$button-default-background-color: #474646 !default;
$button-primary-background-color: #f32c52 !default;

$input-border-color: #dce4ec !default;
$input-focus-border-color: #2c3e50 !default;
$input-placeholder-color: $input-border-color !default;
$input-text-color: #2c3e50 !default;
$input-label-color: #777 !default;

$login-page-product-background-color: #306ffe !default;